// Color Variables
$primary-color: #333;
$secondary-color: #666;
$background-color: #f5f5f5;
$background-body: #4D4D4D;
$text-color: #222;
$white: #fff;
$black: #000;

// Shadow colors
$shadow-color: rgba(0, 0, 0, 0.1);
