// Font Families
// Adobe Fonts
$font-heading-primary: octin-stencil, sans-serif;
$font-heading-secondary: paralucent-stencil, sans-serif;
$font-body: ibm-plex-sans, sans-serif;
$font-family: $font-body;

// Font Weights
$font-weight-100: 100;
$font-weight-200: 200;
$font-weight-300: 300;
$font-weight-400: 400;
$font-weight-500: 500;
$font-weight-600: 600;
$font-weight-700: 700;
$font-weight-800: 800;
$font-weight-900: 900;

// Typography Mixins
@mixin heading-style($weight: $font-weight-100) {
  font-weight: $weight;
  font-style: normal;
}

// Typography Styles
h1, h2 {
  font-family: $font-heading-primary;
  @include heading-style();
  
  span {
    font-family: inherit;
  }
}

h3 {
  font-family: $font-heading-secondary;
  @include heading-style();
}

h4, h5, h6 {
  font-family: $font-heading-secondary;
  font-weight: 200;
  font-style: normal;
}

body, p, a, li, span {
  font-family: $font-body;
  font-weight: 300;
  font-style: normal;
}
